@model WebApplicationIS.Models.SimulationModel

<h1>Simulation de croissance d'une startup</h1>

<form asp-action="Index" method="post">
    <label>Taux de croissance (r) :</label>
    <input type="number" placeholder="Entrer le taux" /><br />

    <label>Capacité maximale (K) :</label>
    <input asp-for="K" type="number" step="1" required /><br />

    <label>Nombre initial de clients (N0) :</label>
    <input asp-for="N0" type="number" step="1" required /><br />

    <button type="submit">Simuler</button>
</form>
